.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background-color: #f9f5dc;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.header {
  background-color: #f8c9a0;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

.closeBtn {
  background: transparent;
  border: none;
  color: #ff3c3c;
  font-size: 20px;
  cursor: pointer;
}

.body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.body input,
.body textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ddd;
  font-size: 14px;
  font-family: inherit;
  resize: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  background-color: #f9f5dc;
  float: right;
}

.addBtn {
  background-color: #00c851;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.cancelBtn {
  background-color: #ff4444;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
